---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";

import TOC from "@/components/toc";

import BaseLayout from "../BaseLayout.astro";

interface Props {
  data: CollectionEntry<"blog">["data"];
  headings: MarkdownHeading[];
}

const props = Astro.props;
---

<BaseLayout>
  <div class="flex flex-row justify-center">
    <article class="prose w-1/3 p-4">
      <slot />
    </article>
    <TOC headings={props.headings} client:load />
  </div>
</BaseLayout>
