---
import BaseLayout from '../layouts/BaseLayout.astro';
import LinkList from '../components/LinkList.astro';
---

<BaseLayout>
    <div class="text-center mt-9 text-4xl font-bold text-weight-500">友链</div>
    <LinkList listName="友链"/>
</BaseLayout>