---
import { dataFormat } from "@/config";
import dayjs from "dayjs";

import NormalListItem from "@/components/NormalListItem.astro";
import rss from "@/assets/icon/rss.svg";

interface Props {
  pageName?: string;
}
const { pageName } = Astro.props;
---

<style is:global>
  .rss-subscription {
    will-change: transform;
    transition: transform 500ms cubic-bezier(0.51, -0.01, 0.01, 1);
  }
  .rss-subscription:hover {
    transform: scale(1.2) translateY(4px);
  }
</style>
<div
  class="mx-auto w-full lg:w-[800px] lg:max-w-[800px] flex flex-col justify-between items-center"
>
  <div class="text-center mt-9 text-4xl font-bold text-weight-500">{pageName}</div>
  <div class="flex justify-center items-center gap-4 m-6">
    <a
      href="index.xml"
      class="rss-subscription border-1 border-gray-300 flex justify-center items-center rounded-full gap-2 px-3 py-1 text-xs text-gray-600 dark:text-gray-400 bg-gray-50 dark:bg-neutral-800 dark:border-neutral-800 hover:border-gray-400 dark:hover:text-gray-50 dark:hover:border-gray-600"
    >
      <span>RSS 订阅</span>
      <span class="inline-block align-text-bottom icon">
        <img src={rss.src} class="w-3 h-3 opacity-60" />
      </span>
    </a>
  </div>
  <div class="my-6 w-full flex flex-col justify-around items-start xl:items-center">
    <NormalListItem
      title="文章标题"
      description="文章描述"
      link="https://example.com"
      pubDate={dayjs().format(dataFormat)}
    />
  </div>
</div>
