---
interface Props {
    title?: string;
    description?: string;
    link?: string;
    pubDate?: string;
}

const { title, description, link, pubDate } = Astro.props;
---

<div class="m-3 w-150 bg-gray-50 flex flex-col justify-evenly items-left rounded-xl border-gray-500 shadow-[0px_2px_10px_rgba(0,0,0,0.1)] pt-2 pb-4 px-4">
    <div class="text-left my-4 font-bold text-size-6">
        {title}
    </div>
    <div class="text-left my-1 font-light">
        {description}
    </div>
    <a href={link} class="block my-1">
        <a class="hx-text-[color:hsl(var(--primary-hue),100%,50%)] hx-underline hx-underline-offset-2 hx-decoration-from-font" href="/blog/summer-intern/">
            更多 →
        </a>
    </a>
    <div class="mt-4 text-size-3.5 text-gray-400">
        {pubDate}
    </div>
</div>