---
interface Props {
    title?: string;
    description?: string;
    link?: string;
    pubDate?: string;
}

const { title, description, link, pubDate } = Astro.props;
---

<style is:global>
    @keyframes enlarge { from { transform: scale(1); } to { transform: scale(1.02); } }
    /* define transition */
    .normal-list-item {
        will-change: transform;
        transition: transform 300ms ease;
    }
    .normal-list-item:hover {
        transform: translateX(4%);
    }
</style>
<div class="normal-list-item m-3 w-full bg-gray-30 transform-gpu flex flex-col justify-evenly items-left rounded-xl border-gray-500 shadow-[0px_4px_20px_rgba(0,0,0,0.05)] pt-2 pb-4 px-4">
    <div class="text-left my-4 font-bold text-size-6">
        {title}
    </div>
    <div class="text-left my-1 font-light">
        {description}
    </div>
    <a href={link} class="block my-1">
        <a class="text-[color:hsl(210,100%,50%)] underline underline-offset-2 decoration-from-font" href="/blog/summer-intern/">
            更多 →
        </a>
    </a>
    <div class="mt-4 text-size-3.5 text-gray-400">
        {pubDate}
    </div>
</div>