---
import { theme } from "@/config";

import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";

const { navbar } = theme;

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <NavBar items={navbar.items} />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
