---
import { theme } from "@/config";

import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";

const { navbar } = theme;

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <NavBar items={navbar.items} />
    <main class='w-full'>
      <slot />
    </main>
  </body>
</html>
